
body {
	background: #D3D3D3;
  	font-size: 20pt;
}

div {
/*  	border: medium solid black;
  	background: #FFFFFF;
*/  	
	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
  	margin: 5px;
}

section {
	border: medium solid black;
  	background: #F8F8F8;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
  	margin: 5px;
}

td {
	margin: 5px;
}

