
body {
	background: #D3D3D3;
  	font-size: 20pt;
  	height: 100%;
	width: 100%;
}

div {
/*  	border: medium solid black;
  	background: #FFFFFF;
*/  	
	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
  	margin: 5px;
}

section {
	border: medium solid black;
  	background: #F8F8F8;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
  	margin: 5px;
}

td {
	margin: 5px;
}

#map {
	height: 100%;
	width: 100%;
}

#output_div {
	height: 100%;
	width: 100%;
}

#main_div {
	height: 100%;
	width: 100%;
}

html {
	height: 100%;
	width: 100%;
}

#navbar-logout {
	float: right;
}

#navbar-back-flight {
	float: right;
}

/*/* Optional: Makes the sample page fill the window. 
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
*/
